
/* HEADER */

body {
    margin: 0;
}

/* Initially hide the header */
.fade-in-header {
    opacity: 0;
    transition: opacity 1.72s ease-in-out;
}

header {
    background-color: #3ca386;
    background-image: linear-gradient(#158a69, #20cd9c);
    color: #000;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    width: 30%;
}

h1 a {
    text-decoration: none;
    color: #000;
    font-size: 1.25em; 
}

h1 a:hover {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.26em;
}

nav {
    width: 70%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav ul li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.15em;
    font-weight: 600;
    align-items: center;
}

nav ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #111;
}


h2 {
    text-align: center;
    font-size: 3em;
}



/* INDEX */

.flexbox-container {
    /*
    box-shadow: 5px 10px #888888;
    */
    background-color: rgba(17, 24, 39, 1);
    height: 400px;
    block-size: auto;
    text-align: left;
    padding: 30px;
    margin-left: 195px;
    margin-right: 195px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.33vw;
    font-weight: 700;
    border: 2px solid rgba(17, 24, 39, 1);
    border-radius: 8px;
    opacity: 0; /* Initially hidden */
    animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flexbox-container p {
    margin: 0 auto 5px auto; 
    max-width: 23vw;
}

.flexbox-container ul {
    margin: 0 auto 15px auto; 
    max-width: 19vw; 
}

.container {
    width: fit-content;
    margin: 0 auto 15px auto;
}


.social-links {
    color: #189975;
}

.social-links:hover {
    color: #20cd9c;
}


iframe {
    display: block;
    margin: 55px auto 65px auto;
}


#info {
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    color: #000;
    margin-bottom: 35px;
}

#mobile {    
    display: inline;
    color: #000;
    font-size: 1.5em;
}

#mobile:hover {    
    display: inline;
    color: white;
    background-image: linear-gradient(#20cd9c, #189975);
}

#desktop {      
    display: none;
    color: #000;
}



/* FOOTER */

footer {
    padding: 1em;
    border-top: 2px solid #000;
    background-color: #3ca386;
    background-image: linear-gradient(#20cd9c, #189975);
    color: rgba(17, 24, 39, 1);
    font-size: .9em;
    font-style:normal;
    text-align: center;
    font-weight: 600;
}

#footer-anchor {
    font-size: 1.6em;
    text-align: center;
    align-items: center;
    color: rgba(17, 24, 39, 1);
    text-decoration: none;
    transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#footer-anchor:hover {
    font-size: 1.605em;
    text-align: center;
    align-items: center;
    color: #ffffff;
    background-color: rgba(17, 24, 39, 1);
    text-decoration: none;
    transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
}






/* Start of FIRST Media Query */
/* MOBILE */    
@media screen and (max-width: 600px) {

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        width: auto;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        background-color: #3ca386;
        background-image: linear-gradient(#08523d, #20cd9c);
        /* background-image: radial-gradient(circle 70vh at 50% 60%, #095732, #55df75); */
    }

    header>* {
        text-align: center;
        padding: auto;
        flex: 1 100%;
    }

    h1 {
        width: auto;
        text-align: center;
        margin: 10px 0 0 0;
    }

    nav {
        justify-content: center;
        width: 80vw;
        margin: 0 5px 0 5px;
        padding: 0;

    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        padding: 0px;
        margin: 10px 0px 10px 0px;
        font-size: 1.15em;
        justify-content: center;
        border-bottom: 2px solid #333;
    }

    nav ul li:last-child {
        border-bottom: none; 
    }

    /* INDEX */


    .flexbox-container {
        width: 90vw;
        display: block;
        padding: 0 9px 0 9px;
        margin: 0 auto 0 auto;
        font-size: 3vw;
    }

    .flexbox-container p {
        margin: 20px auto 5px auto; /* Centers the content */
        max-width: 65vw; /* Adjust as needed */
    }
    
    .flexbox-container ul {
        margin: 0 auto 15px auto; /* Centers the content */
        max-width: 60vw; /* Adjust as needed */
    }


    iframe {
        width: auto;
    }


}


/* SECOND media query */
/* Tablet */


@media screen and (min-width: 601px) and (max-width: 1150px) {
    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        width: auto;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    header>* {
        text-align: center;
        padding: auto;
        flex: 1 100%;
    }

    h1 {
        width: auto;
        text-align: center;
        margin: 10px 0 0 0;
    }

    nav {
        justify-content: center;
        width: 80vw;
        margin: 0 5px 0 5px;
        padding: 0;

    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        padding: 0px;
        margin: 10px 0px 10px 0px;
        font-size: 1.15em;
        justify-content: center;
        border-bottom: 2px solid #333;
    }

    nav ul li:last-child {
        border-bottom: none; 
    }

    
    /* INDEX */


    .flexbox-container {
        width: 90vw;
        display: block;
        padding: 0 9px 0 9px;
        margin: 0 auto 0 auto;
        font-size: 3vw;
    }

    .container {
        width: fit-content;
    }

    .flexbox-container p {
        margin: 20px auto 5px auto;
        max-width: none;
    }

    .flexbox-container ul {
        margin: 0 auto 0 auto;
        max-width: 40vw;
    }

    iframe {
        width: auto;
    }
    


}
